# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/yolo/
!/.gitignore
__pycache__/
libFaceDetect/__pycache__/
!/test.py
!/FlaskTest.py
FlaskTest.py
test.py
